doctype html 
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/start/styles.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    style
      include ../start/styles.css
    
    html
      head
        script.
          alert('Close this message to see the page');
          
    body
      .row.gray.lighten-2
          h1= title
          h6 Welcome to #{title}
          br
          .col.s0.m2
        
      .row
      .container
        p See what others have told about their day and post about yours after logging in.
        .col.s12.m3.l3.xl4.light-green.lighten-5.hoverable.border
          .col.s6.m12.l12.xl6
            p.red-text= logMessage
            h5 Log In
              form(method='POST' action='/posts/login')
                .form-group.input-field
                  input#name.form-control(type='text' placeholder='Enter username here' name='loginuser')
                  label(for='username') Username
                .form-group.input-field
                  input#password.form-control(type='password' placeholder='Enter password here' name='loginpassword')
                  label(for='pwd') Password
                button.btn.light-green.waves-effect(type='submit') Log In
            br
            p(style=" color: #e0e0e0 ") or
            form(method="POST" action="/getin")
              button.btn.light-green.waves-effect(type='submit' name='action') Sign up
            p
          
        .col
        .col.s0.m1
          .row
            .col.s12.m0
        .col.s12.m8.l8.xl7.light-green.lighten-5.hoverable.border
          .container
            ul
            each post in post_list.reverse()
              li.left-align #{post.author}: #{post.content} - #{post.time}
            else
              p.left-align No posts yet :(
            ul
            
    
  br
  p © Roosa Hynninen 2020