doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/start/styles.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')

    style
      include ../start/styles.css
      
    body


      .row
        .container
          h3#submitPost Submit a new post
          p.center-align  Character limit is 120
          form(method='POST' action='/posts/create')
            p
              label
                input(type='checkbox', name="checkbox", value="YES")
                span Use my username as a nickname
            .form-group.col.s10.push-s1
              label(for='name') Nickname:
              input#name.form-control(type='text', placeholder='Your name' name='author')
            .form-group.col.s10.push-s1
              label(for='content') Write about your day:
              input#content.form-control(type='text', placeholder='Write here' name='content')
  
            button.btn.light-green.waves-effect(type='submit', name='action') Submit a New Post
            p 
        .row
        .container.light-green.lighten-5.hoverable
          .row
            h4.center-align What's happening in the world?
            each post in post_list
              .row.s8.m6.light-green.lighten-5
                p.center-align #{post.author}: #{post.content} - #{post.time} - #{post.date}
            else
              p.center-align There are no posts yet, be the first one to post something!

      .row
          form(method="POST" action="/posts/logout")
            button.btn.light-green.waves-effect(type='submit' name='action') Logout
          br
      
    br
    p © Roosa Hynninen 2020